/* GENERAL */
:root {
  --color-text: #fff;
  --color-neon-1: #00FFFF;
  --color-neon-2: #FDBEF6;
  --color-neon-3: #CC39C7;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 10px;
  color: var(--color-text);
}

html {
  scroll-behavior: smooth;
  font-family: 'Dorsa', sans-serif;
  text-shadow: 2px 2px 1px black;
}

h1 {
  font-size: 6rem;
  font-weight: lighter;
  color: aqua;
  font-family: 'Neonderthaw', cursive;
  filter: drop-shadow(0 0 10px var(--color-neon-1));
  text-shadow: 0 0 2px black;
}

h2 {
  font-size: 8rem;
  padding: 5rem;
  letter-spacing: 1rem;
  word-spacing: 2rem;
  color: antiquewhite;
}

p {
  font-size: 4rem;
  letter-spacing: 0.5rem;
  word-spacing: 0.6rem;
  font-weight: bold;
  padding: 10rem;
  color: antiquewhite;
}

section {
  scroll-margin-top: 10rem;
  text-align: center;
  height: 100vh;
}


/* BACKGROUND */
.bg-img::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  pointer-events: none;
}

.bg-img {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: no-repeat center center;
  background-image: url('img/background-main.jpeg');
  background-size: cover;
}


/* HEADER */
header {
  position: sticky;
  top: 0;
  z-index: 1;
  backdrop-filter: blur(10rem);
  display: flex;
  justify-content: space-between;
  height: 10rem;
  width: 100%;
  align-items: center;
  padding: 3rem;
}

.container-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  user-select: none;
}

.icon-flamingo {
  height: 8rem;
  filter: drop-shadow(0 0 10px var(--color-neon-3));
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

nav a {
  text-decoration: none;
  color: var(--color-neon-2);
  font-size: 7rem;
  padding: 2rem;
}

nav a:hover {
  text-decoration: none;
  color: var(--color-neon-2);
  font-size: 7rem;
  padding: 2rem;
  filter: drop-shadow(0 0 10px var(--color-neon-1));
}

nav a:active {
  color: var(--color-neon-3);
  filter: drop-shadow(0 0 20px var(--color-neon-1));
}


/* HOME */
#section-home iframe {
  width: 50%;
  height: auto;
  aspect-ratio: 16/9;
  margin: auto;
}


/* SHOPS */
.container-shops {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  width: 80%;
  height: auto;
  margin: auto;
  backdrop-filter: blur(10rem);
  padding: 5rem;
  border-radius: 2rem;
}

.card-shop {
  width: 30 rem;
  height: 40rem;
  background-color: #1ED9B6;
  margin: 1rem;
  border-radius: 2rem;
}

.container-shops img {
  width: 25rem;
  height: 30rem;
  margin: 2rem;
}

.container-shops p {
  padding: 0;
}


/* MAP */
#section-map img {
  width: 70%;
  height: auto;
  margin: auto;
  filter: blur(2px);
  border-radius: 10rem;
}