/* ==================================================
  [Table of contents]

  --- 320px to 425px ---
  1. GENERAL
    1.1 BACGROUND
  2. NAVBAR
  3. MAIN
    3.1 SECTION HOME
    3.2 SECTION SHOPS
    3.3 SECTION MAP
  4. FOOTER

  --- 425px to 600px ---

  ==================================================*/

/* ==========
1. GENERAL
========== */
:root {
  --color-text: antiquewhite;
  --color-neon-1: #00FFFF;
  --color-neon-2: #FDBEF6;
  --color-neon-3: #CC39C7;
  --color-neon-4: #138882;
  --color-neon-5: #DEDC88;
  --color-neon-6: #FFFF1A;

  --blur-background: 0.5rem;
  --blur-elements: 10rem;

  --shadow-contrast: 0 0 5px black,
  0 0 5px black,
  0 0 5px black,
  0 0 5px black,
  0 0 5px black,
  0 0 5px black,
  0 0 5px black;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-size: 10px;
  color: var(--color-text);
}

html {
  scroll-behavior: smooth;

  font-family: 'Dorsa', sans-serif;
  text-shadow: 2px 2px 1px black;
}

/* ==========
1.1 BACKGROUND
========== */
.bg-img::after {
  content: "";
  pointer-events: none;

  position: absolute;
  width: 100%;
  height: 100%;

  backdrop-filter: blur(var(--blur-background));
}

.bg-img {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;

  background: no-repeat center center;
  background-image: url('img/background-main.jpeg');
  background-size: cover;
}

/* ==========
2. NAVBAR
========== */
.nav {
  position: sticky;
  z-index: 1;
  top: 0;

  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100vw;
  height: 16rem;

  backdrop-filter: blur(var(--blur-elements));
}

.nav__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
  list-style: none;
}

.nav__link {
  font-size: 6rem;
  color: var(--color-neon-2);
  text-decoration: none;
}

.nav__link:hover,
.nav__link:focus {
  color: var(--color-neon-3);
}

.nav__link:active {
  filter: drop-shadow(0 0 5px var(--color-neon-1));
}

.logo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  width: auto;
  height: 50%;
}

.logo__img {
  display: none;
}

.logo__txt {
  font-family: 'Neonderthaw', cursive;
  font-size: 4.2rem;
  color: var(--color-neon-1);

  filter: drop-shadow(0 0 10px var(--color-neon-1));
  text-shadow: 0 0 4px black;
}

/* ==========
3. MAIN
========== */
.main {
  max-width: 100rem;
  margin: auto;

  text-align: center;
}

.section {
  scroll-margin-top: 15rem;

  padding: 2rem;
}

.section__header {
  width: 100%;
  margin: 2rem 0;
  
  font-size: 5rem;
  letter-spacing: 1rem;
  word-spacing: 0.5rem;
  color: var(--color-neon-2);

  text-shadow: var(--shadow-contrast);
}

.section__desc {
  margin: 3rem auto;

  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 0.5rem;
  word-spacing: 0.5rem;

  text-shadow: var(--shadow-contrast);
}

.section__content {
  padding: 1rem;

  border-radius: 1rem;
  backdrop-filter: blur(var(--blur-elements));
}

/* ==========
3.1 SECTION HOME
========== */
.section_home .section__video {
  aspect-ratio: 16 / 9;
  width: 100%;
  max-width: 560px;
  height: auto;

  border: none;
}

/* ==========
3.2 SECTION SHOPS
========== */
.section_shops .section__content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}

.card {
  aspect-ratio: 1 / 1.5;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 20rem;
  height: auto;
  margin: 1rem;

  background-color: var(--color-text);
  border-radius: 1rem;
  box-shadow: inset 0 0 10px var(--color-neon-2), inset 0 0 10px var(--color-neon-2);
  box-shadow: 0 0 10px var(--color-neon-2), 0 0 10px var(--color-neon-2);
}

.card__img {
  width: 100%;
  height: auto;
}

.card__desc {
  position: absolute;
  align-self: center;
  bottom: 0;
  padding: 1rem;

  font-size: 5rem;

  text-shadow: var(--shadow-contrast);
}

/* ==========
3.3 SECTION MAP
========== */
.section_map .section__content {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 50vh;
}

.map {
  display: grid;
  width: 100%;
}

.map__shop {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 2px solid var(--color-text);
}

.map__index {
  font-size: 7rem;

  text-shadow: var(--shadow-contrast);
}

.map__shop:first-child {
  content: "";

  grid-column: 1 / 10;
  grid-row: 1 / 10;

  border: none;
}

.map__shop:nth-child(2) {
  content: "Shop 1";

  grid-column: 2 / 4;
  grid-row: 4;

  background-color: var(--color-neon-1);
}

.map__shop:nth-child(3) {
  grid-column: 6 / 8;
  grid-row: 3 / 6;

  background-color: var(--color-neon-6);
}

.map__shop:nth-child(4) {
  grid-column: 3 / 7;
  grid-row: 2 / 4;

  background-color: var(--color-neon-2);
}

.map__shop:nth-child(5) {
  grid-column: 8;
  grid-row: 4 / 9;

  background-color: var(--color-neon-4);
}

.map__shop:nth-child(6) {
  grid-column: 3 / 8;
  grid-row: 8;

  background-color: var(--color-neon-5);
}

.map__shop:nth-child(7) {
  grid-column: 2 / 4;
  grid-row: 6 / 9;

  background-color: var(--color-neon-3);
}

/* ==========
4. FOOTER
========== */
.footer {
  overflow: hidden;
  width: 100%;
  margin-top: 15rem;
  padding: 1rem;

  backdrop-filter: blur(var(--blur-elements));
}

.footer__desc {
  font-size: 4rem;
  text-align: center;
  word-spacing: 2rem;
}

.footer__signature {
  font-size: 4rem;
  font-weight: bolder;
  letter-spacing: 0.5rem;
  color: transparent;
  
  background: linear-gradient(rgba(0,255,255,1) 0%, rgba(253,190,246,1) 50%, rgba(204,57,199,1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  text-shadow: none;
  filter: drop-shadow(0 0 2px black);
}

.footer__link {
  font-size: 4rem;
  font-style: normal;
  text-decoration: none;
  letter-spacing: 0.3rem;
}

.fa-brands,
.fa-solid {
  font-size: 3rem;
  padding-right: 1rem;
}

@media screen and (min-width: 426px) {
  .logo__img {
    max-height: 80%;
    display: inline-block;
    align-self: center;
    filter: drop-shadow(0 0 2px var(--color-neon-6));
  }

  .card {
    width: 16rem;
  }
}

@media screen and (min-width: 780px) {
  .nav {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    height: 10rem;
  }

  .logo {
    width: 45%;
  }

  .nav__link {
    margin: 2rem;
  }

  .card {
    aspect-ratio: 1 / 1.5;
    width: 22rem;
  }

  .footer__address {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2rem;
  }

  .footer__link {
    font-size: 3rem;
  }
}